name: Deploy to GCP

on:
  push:
    branches:
      - main
      - feature/docker-containerization
  workflow_dispatch:  # Allows manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.GCP_VM_IP }}
          username: ${{ secrets.GCP_VM_USER }}
          key: ${{ secrets.GCP_SSH_KEY }}
          script: |
            cd ~/MLOps-Project
            git pull origin feature/docker-containerization
            docker-compose down
            docker-compose up -d --build
            echo "Deployment completed at $(date)"